body {
    background-color: #111111;
    font-family: sans-serif;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Puts the video behind all other content */
    opacity: 0.1; /* Optional: Makes the video less distracting */
}
